{% extends "base.html" %}

{% block title %}Courses | ITU Scheduler{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"> <!-- Detailed search section -->
                <h3>Find the exact course you want</h3><br>
                <div class="row">
                    <div class="form-group col-md-12">
                        <form id="form-major">
                            <select class="form-control" name="major" onchange="redirectQuery(true)">
                                {% for option in major_codes %}
                                    <option {% if option == major %}selected {% endif %}value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="form-group col-md-12">
                        <form id="form-code">
                            <select class="form-control" name="code" onchange="redirectQuery()">
                                <option {% if not code %}selected {% endif %}value="">Course Codes</option>
                                {% for option in codes %}
                                    <option {% if option == code %}selected {% endif %}value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <form id="form-day">
                            <select class="form-control" name="day" onchange="redirectQuery()">
                                <option {% if not day %}selected {% endif %}value="">Days</option>
                                {% for option, option_eng in days %}
                                    <option {% if option == day %}selected {% endif %}value="{{ option }}">{{ option_eng }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                <br>
                {% if unaccepted %}
                    <div class="alert alert-danger">Cannot get all the courses at once.</div>
                {% else %}
                    {% if searched_course or searched_code or searched_day %}
                        <div class="alert alert-info">For <strong>{{ searched_course }}</strong> courses, you are looking for courses with code <strong>{{ searched_code }}</strong> on day <strong>{{ searched_day }}</strong></div>
                    {% endif %}
                {% endif %}
            </div> <!-- Detailed search section -->
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8 col-xs-6">
                                <h2 class="panel-title" style="line-height: 2.6em;">Courses</h2>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <form id="form-semester">
                                    <select class="form-control" name="semester" onchange="redirectQuery()">
                                        {% for option in semesters %}
                                            <option {% if option == semester %}selected {% endif %}value="{{ option }}">{{ option.get_name_display }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        {% if request.user.is_authenticated %}
                                            <th>My Courses</th>
                                        {% endif %}
                                        <th>CRN</th>
                                        <th>Major Code</th>
                                        <th>Title</th>
                                        <th>Instructor</th>
                                        <th>Building</th>
                                        <th>Day</th>
                                        <th>Time</th>
                                        <th>Room</th>
                                        <th>Capacity</th>
                                        <th>Major Restriction</th>
                                        <th>Prerequisites</th>
                                        <th>Class Restriction</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            {% if request.user.is_authenticated %}
                                                <td>
                                                    <label>
                                                        <input class="checkbox-inline" {% if course.crn in my_courses %}checked {% endif %}onchange="addCourse({{course.crn}})" type="checkbox">
                                                    </label>
                                                </td>
                                            {% endif %}
                                            <th>{{ course.crn }}</th>
                                            <td><a target="_blank" href="{{ course.catalogue }}">{{ course.code }}</a></td>
                                            <td>{{ course.title }}</td>
                                            <td>{{ course.instructor }}</td>
                                            <td><a href="javascript:listBuildings();">{% for lecture in course.lecture_set.all %}{{ lecture.building }}<br>{% endfor %}</a></td>
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.day }}<br>{% endfor %}</td>
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.time_str_tuple|join:"/" }}<br>{% endfor %}</td>
                                            <td>{% for lecture in course.lecture_set.all %}{{ lecture.room }}<br>{% endfor %}</td>
                                            <td>{{ course.enrolled }}/{{ course.capacity }}</td>
                                            <td><a href="javascript:alert('Major Restrictions: {{ course.major_restriction.all|join:", " }}')">{{ course.major_restriction.all|join:"<br>"|truncatechars:40 }}</a></td>
                                            <td><a href="javascript:alert('Prerequisites: {{ course.prerequisites.all|join:" or " }}')">{{ course.prerequisites.all|join:" or <br>"|truncatechars:40 }}</a></td>
                                            <td>{{ course.class_restriction }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Latest Database Refresh: {{ refreshed }}</p>
            </div>
        </div>
    </div>
    <script>
        function addCourse(courseCrn) {
            $.post(
                "{% url "add_course" %}",
                {
                    "course_crn": parseInt(courseCrn),
                    "csrfmiddlewaretoken": getCookie('csrftoken')
                },
                function(response) {
                    var isSuccessful = response["successful"];
                    if (!isSuccessful) {
                        alert("Error: " + response["error"] + "\nMy Courses: " + response["courses"]);
                    }
                },
                "json"
            );
        }

        function redirectQuery(isMajorChanged) {
            var url = new URL("{% url "courses" %}", location.origin);
            var major = document.getElementById("form-major").major;
            url.searchParams.append("major", major.options[major.selectedIndex].value);
            if (typeof isMajorChanged === "undefined") {
                var code = document.getElementById("form-code").code;
                url.searchParams.append("code", code.options[code.selectedIndex].value);
            }
            var day = document.getElementById("form-day").day;
            url.searchParams.append("day", day.options[day.selectedIndex].value);
            var semester = document.getElementById("form-semester").semester;
            url.searchParams.append("semester", semester.options[semester.selectedIndex].value);
            location = url;
        }
    </script>
{% endblock %}
